{% extends "auctions/layout.html" %}

{% block body %}

<h2>Posts in category: {{ category.name }}</h2>

<div class="row mt-3">
  <!-- Show all listings in each category -->
  {% for list in posts %}
    <div class="col-md-4">
      <a href="{% url 'listing_details' list.pk %}">
        <div class="card mb-3">
        <img class="card-img-top img_index" src="{{ list.img_url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ list.title }}</h5>
            {% if list.bid_current %}
              <p class="card-text">Current price: {{ list.bid_current.bid_value }} $</p>
            {% else %}
              <p class="card-text">Current price: {{ list.bid_start }} $</p>
            {% endif %}
            <p class="card-text"><small class="text-muted">Created {{ list.time_created }}</small></p>
          </div>
        </div>
      </a>
  </div>
  {% empty %}
    <h3>No listings yet.</h3>
  {% endfor %}
</div>

{% endblock %}
