body
{
	background-color: #fff;
	font-family: arial,sans-serif;
}

a
{
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
	font-size: 13px !important;
}

a:hover
{
	text-decoration: underline;
}

form
{
	margin: 20px 0;
}

#search_text
{
	margin-bottom: 29px;
}

#input_search
{
	height: 44px;
	width: 400px;
	padding: 0 8px 0 14px;
	border: none;
	border: none !important;
}

#search_main
{
	width: 487px;
	height: 44px;
	padding: 0 8px 0 14px;
	border: none;
	border: none !important;
}

@media (min-width: 500px) and (max-width: 768px)
{
	#search_main
	{
		width: 360px;
	}
	#input_search
	{
		width: 310px;
	}
}

.container
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

input:focus {
	outline-width: 0;
}

input[type="submit"]
{
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 0 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
}

input[type="submit"]:hover
{
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
}

.input_div
{
	border: 1px solid #ccc;
	border-radius: 25px;
	display: inline-block;
}

.input_div:hover
{
	box-shadow: 1px 1px 5px #ccc;
}

img[src="glass.png"]
{
	padding-left: 14px;
	margin-bottom: 5px;
	display: inline-block;
	opacity: 0.4;
	height: 15px;
}

#g_img
{
	margin-top: 100px;
	height: 92px;
}
img[src="voice.png"]
{
	padding-right: 20px;
	margin-bottom: 5px;
	display: inline-block;
	height: 20px;
}

img[src="glass_blue.png"]
{
	padding-right: 20px;
	margin-bottom: 5px;
	display: inline-block;
	height: 18px;
	opacity: 0.8;
}

img[src="camera.png"]
{
	padding-right: 20px;
	margin-bottom: 5px;
	display: inline-block;
	height: 20px;
	opacity: 0.6;
}

button
{
	background: transparent;
	border: none;
}

#adv_title
{
	margin-top: 30px;
	padding: 0;
	color: #d93025;
	font-size: 20px;
}

#container_advanced
{
	margin-left: 50px;
}

.adv_search
{
	width: 100%;
	border-radius: 1px;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	font-size: 13px;
	height: 30px;
	padding: 1px 8px;
}

.adv_search:focus
{
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
	border: 1px solid #4d90fe;
	outline: none;
}

.adv_one
{
	width: 16%;
	min-width: 167px;
	color: #222;
	font-size: 13px;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.adv_two
{
	width: 32%;
	min-width: 160px;
	color: #555;
	font-size: 11px;
	padding-left: 5px;
}

#adv_btn
{
	color: white;
	user-select: none;
	line-height: 100%;
	height: 30px;
	min-width: 120px;
	float: right;
	margin: 10px 0;
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	border: 1px solid #2f5bb7;
	border-image: initial;
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 10px;
}

#g_adv
{
	height: 23px;
	margin: 15px 0 0 13px;
}