{% extends "layout.html" %}

{% block body %}
{% if category_posts %}
<h1>Category: {{ cats }}</h1>
<ul>
    {% for post in category_posts %}

    <li>
        <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> -
        {{ post.category }} -
        {{ post.author.first_name }} {{ post.author.last_name }} -
        {{ post.post_date }}
        {% if user.is_authenticated %}
        - <small>
            <a href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </small>
        {% endif %}
        <br>
        {{ post.body | slice:":150" | safe }}
    </li>
    {% empty %}
    <h3>No posts</h3>
    {% endfor %}
</ul>

{% else %}
<h3>No page</h3>
{% endif %}

{% endblock %}