textarea {
	min-height: 400px;
}

/* INDEX */
.mail {
	border: solid 1px rgb(118, 152, 226);
	border-radius: 2px;
	margin-bottom: 3px;
	padding: 3px;
	cursor: pointer;

	-webkit-box-shadow: 3px 3px 7px -5px rgba(66, 68, 90, 1);
	-moz-box-shadow: 3px 3px 7px -5px rgba(66, 68, 90, 1);
	box-shadow: 3px 3px 7px -5px rgba(66, 68, 90, 1);
}

.sender,
.subject,
.timestamp,
.archived {
	float: left;
}

.sender,
.subject {
	font-weight: bold;
}

/* MAIL VIEW */
.mail_view {
	border: solid 1px rgba(94, 111, 139, 0.534);
	background-color: #f2f2f286;
	border-radius: 4px;
	padding: 10px;
	padding-bottom: 15px;
	-webkit-box-shadow: 3px 3px 7px -5px rgba(66, 68, 90, 1);
	-moz-box-shadow: 3px 3px 7px -5px rgba(66, 68, 90, 1);
	box-shadow: 3px 3px 7px -5px rgba(66, 68, 90, 1);
}

.from_view {
	margin-bottom: 7px;
}
.recipients_view {
	margin-bottom: 15px;
}
